@use "../variables" as *;
@use "../mixins" as *;

// Базовые стили WooCommerce
.wc-block-grid__product-onsale,
.onsale,
.woocommerce-pagination .page-numbers li .page-numbers:not(.current) {
  background-color: $gold;
}

.woocommerce-pagination .page-numbers li .page-numbers.current {
  background-color: rgb(118, 22, 14);
  color: $white;
}

.pagination .page-numbers li a.page-numbers:hover,
.woocommerce-pagination .page-numbers li a.page-numbers:hover {
  background-color: rgb(118, 22, 14);
}

.onsale {
  position: absolute;
  right: 4px;
  top: 3px;
  left: auto;
  margin: 0;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
  background-color: $gold;
}

.demo_store {
  background-color: $dark-gray;
}

.price {
  font-weight: 600;
  color: $black;
}

.header-widget-region {
  font-family: $font-primary;
}

.hentry .entry-content a {
  text-decoration: initial;
  
  &:hover {
    text-decoration: underline;
  }
}

@include mobile {
  .header-widget-region {
    display: none;
  }
} 