h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1 {
	font-family: Helvetica Neue, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 135%;
}

h2 {
	font-family: Helvetica Neue, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 130%;
}

h3 {
	font-family: Helvetica Neue, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 135%;
}

h4 {
	font-family: Helvetica Neue, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 150%;
}

h4.italic {
	font-family: Helvetica Neue, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 22px;
	line-height: 150%;
}