.steps_1 {
  overflow: hidden;
  background-color: #fff;
  .steps__video {
    top: 320px;
    video {
      width: 1700px;
    }
  }
}
.steps_2 {
  overflow: hidden;
  .steps__video {
    top: 320px;
    video {
      width: 1700px;
    }
  }
}
.steps_3 {
  background-color: #fff;
  overflow: hidden;
  .steps__video {
    top: 320px;
    video {
      width: 1700px;
    }
  }
}
.steps_4 {
  position: relative;
  .fp-tableCell {
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: block;
  }
}
.steps_4-title {
  display: block;
  text-align: center;
  font-size: 44px;
  line-height: 50px;
  color: #fff;
  font-weight: 500;
}
.steps_4-subtitle {
  display: block;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  margin-top: 20px;
}
.steps_4-laptop {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}
.steps_4-bg {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.steps__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background-position: center;
  padding-bottom: 150px;
  position: relative;
  background: url(../images/bg__laptop.png);
  background-size: cover;
  .bottom-home_2 {
    position: absolute;
    bottom: 0;
    opacity: 1;
  }
}
.steps__video {
  width: 100%;
  position: absolute;
  height: 400px;
  video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  }
}
.steps__img {
  margin: 0 auto;
  margin-top: 30px;
  display: none;
}
.steps__top {
  //position: absolute;
  top: 0;
  margin-top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  .subtitle_1 {
    color: #098dc4;
  }
  .subtitle_2 {
    background-color: #f61c0d;
    color: #fff;
    padding: 4px;
  }
}
.steps__t {
  margin-top: 100px;
  z-index: 1;
}
.steps__info_wrap {
  opacity: 0;
  transition: .5s;
}
.steps__info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.steps__info_btn {
  position: absolute;
  left: -22px;
  top: -22px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: linear-gradient(233.34deg, #00b5e1 14.67%, #098dc4 88.33%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.steps__info_1 {
  margin-left: 183px;
  margin-top: -271px;
  .steps__info_btn {
    top: 100%;
    margin-top: -22px;
  }
}
.steps__info_2 {
  margin-left: -224px;
  margin-top: 142px;
  .steps__info_btn {
    left: 100%;
    margin-left: -22px;
  }
}
.steps__info_3 {
  margin-left: 250px;
  margin-top: 24px;
  .steps__info_btn {
    top: 100%;
    margin-top: -22px;
  }
}
.steps__info_4 {
  margin-left: -310px;
  margin-top: -185px;
  .steps__info_btn {
    left: 100%;
    margin-left: -22px;
    top: 100%;
    margin-top: -45px;
  }
}
.steps__info_5 {
  margin-left: 190px;
  margin-top: 225px;
}
.steps__info_6 {
  margin-left: 330px;
  margin-top: -90px;
  .steps__info_btn {
    top: 100%;
    margin-top: -22px;
  }
}
.steps__info_box {
  background-color: #fff;
  box-shadow: 0 4px 54px rgba(0, 0, 0, .25);
  width: 100%;
  width: 410px;
  padding: 15px 15px 15px 15px;
  opacity: 0;
  transition: .3s;
}
.steps__info_box-title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}
.steps__info_box-subtitle {
  line-height: 28px;
  font-size: 13px;
  color: #3f4c61;
}
.steps__info_btn.active {
  transform: rotate(45deg);
}
.steps__info_box.active {
  opacity: 1;
}
.steps__info_wrap_1.active {
  opacity: 1;
}
.steps__info_wrap_2.active {
  opacity: 1;
}
.fp-tableCell {
  background-color: #fff;
}
.home__catalog {
  background-color: #fff;
}
@media screen and (max-width: 1199px), (max-height: 700px) {
  .steps {
    padding: 20px 15px;
  }
  .steps_1 {
    padding-top: 100px;
  }
  .steps_4 {
    background-color: #00b5e1;
    padding: 60px 0px 0px 0px;
  }
  .steps_4-laptop {
    max-width: 760px;
  }
  .steps_4-bg {
    width: 100%;
  }
  .steps__video {
    display: none;
  }
  .steps__img {
    display: block;
  }
  .steps__top {
    position: relative;
    margin-top: 0;
    left: 0;
    top: 0;
    transform: translate(0);
  }
}
@media screen and (max-height: 800px) {
  .steps_1 {
    .steps__video {
      top: 200px !important;
      video {
        width: 1150px;
      }
    }
  }
  .steps_2 {
    .steps__video {
      top: 200px !important;
      video {
        width: 1150px;
      }
    }
  }
  .steps_3 {
    .steps__video {
      top: 200px !important;
      video {
        width: 1150px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .steps_4-title {
    font-size: 28px;
    line-height: 36px;
  }
  .steps_4-subtitle {
    font-size: 14px;
  }
  .steps__img {
    width: 100%;
    padding: 0 20px;
  }
  .steps__wrap {
    padding-bottom: 100px;
  }
}
@media screen and (max-height: 700px) {
  .steps__top {
    margin-top: 90px;
  }
}
