.wpcf7-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__item {
  width: 200px;
  padding: 10px 0;
  margin: 0 30px;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: Ubuntu;
  border-bottom: 1px solid #fff;
  letter-spacing: .3px;
  &:nth-child(3),
  &:nth-child(4) {
    margin-bottom: 0;
  }
}
.submit {
  border: 2px solid #fff;
  box-shadow: 0 10px 16px rgba(0, 101, 145, .14);
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .3s;
  &:hover {
    background-color: #fff;
    color: #222;
  }
}
.form__agree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 60px;
  width: 100%;
}
.span.wpcf7-not-valid-tip {
  color: #ffffff;
}
.wpcf7-list-item {
  label {
    display: flex;
    align-items: center;
    input {
      width: 20px;
      height: 20px;
      background-color: hsla(0, 0%, 100%, .3);
      opacity: 0;
      &:checked + .wpcf7-list-item-label:after {
        display: block;
      }
    }
  }
}
.wpcf7-list-item-label {
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: block;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: -30px;
    top: 50%;
    margin-top: -10px;
    background-color: hsla(0, 0%, 100%, .3);
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 4px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    left: -18px;
    margin-top: -1px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    display: none;
  }
}
.form__wrap_box {
  background: #F2F2F2;
  width: 100%;
  min-height: 200px;
  margin-top: 30px;
  padding: 20px 0;
}
.modal_2 {
  padding-bottom: 20px;
  span.wpcf7-form-control-wrap {
    &.Name,
    &.last_name,
    &.Country,
    &.City {
      width: 50%;
    }
  }
}
select {
  background-color: white;
  border: thin solid #0d75a1;
  display: block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), 
                    linear-gradient(135deg, gray 50%, transparent 50%), 
                    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), 
                       calc(100% - 15px) calc(1em + 2px), 
                       calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 
                   5px 5px, 
                   1px 1.5em;
  background-repeat: no-repeat;
  &:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%), 
                      linear-gradient(135deg, transparent 50%, green 50%), 
                      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, 
                         calc(100% - 20px) 1em, 
                         calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 
                     5px 5px, 
                     1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
}
.for_selects {
  color: #3F4B61;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  top: 3px;
}
#day, 
#month, 
#year {
  background: none;
  border: 0;
  border-bottom: 2px solid #b7b9b8;
  font-size: 15px;
  color: #098DC4;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 5px;
  border-radius: 0 !important;
  option {
    color: #3F4B61;
  }
  &:focus {
    outline: none;
  }
}
.date_block {
  padding: 0 20px 20px;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 0px;
  .select {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    &:after {
      content: "▼";
      padding: 0 3px;
      font-size: 10px;
      position: absolute;
      right: 8px;
      top: 6px;
      z-index: 1;
      text-align: center;
      width: 10%;
      height: 100%;
      pointer-events: none;
      box-sizing: border-box;
      color: #3F4B61;
    }
  }
  .s1 {
    margin-left: 15px;
  }
  select {
    padding-right: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.star-title {
  display: inline-block;
  padding-left: 20px;
  font-size: 18px;
  font-family: Ubuntu;
  font-weight: 500;
  min-width: 230px;
}
.text-82 {
  padding-bottom: 20px;
  display: block;
  border-bottom: 1px solid #DEDEDE;
}
.hidden {
  display: none;
}
@media screen and (max-width: 991px) {
  .form__wrap {
    flex-wrap: wrap;
    margin-right: -30px;
  }
  .form__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 0;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .form__agree {
    margin: 30px 0;
  }
  .modal_2 {
    * {
      box-sizing: border-box;
    }
    .form__wrap {
      margin-right: 0px;
      .wpcf7-form-control-wrap {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0 20px;
      }
    }
  }
  .Feedback {
    .form__item {
      margin: 50px 0 30px;
    }
  }
}
@media screen and (max-width: 767px) {
  .form__wrap {
    margin-right: 0;
  }
  .form__item {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 25px;
    width: 280px;
    &:nth-child(3) {
      margin-bottom: 25px;
    }
  }
  .form {
    .submit {
      width: 100%;
      height: 50px;
    }
  }
  .modal_1 {
    span.wpcf7-form-control-wrap {
      input {
        max-width: 285px;
        margin-left: auto;
        display: block;
        margin-right: auto;
      }
      max-width: 100%;
      flex: 0 0 100%;
      margin-left: auto;
      display: block;
      margin-right: auto;
    }
    .form__wrap {
      flex-wrap: wrap;
      margin-right: 0;
    }
  }
  span.wpcf7-form-control-wrap.Message {
    input {
      max-width: 285px;
      margin-left: auto;
      display: block;
      margin-right: auto;
    }
  }
  .modal_2 {
    .form__wrap {
      .wpcf7-form-control-wrap {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0 0px;
      }
    }
    span.wpcf7-form-control-wrap {
      &.Name,
      &.last_name,
      &.Country,
      &.City {
        width: 100%;
      }
    }
  }
}
@media (max-width: 579px) {
  .modal.modal_2 {
    top: 0;
    transform: translate(-50%, 10%);
    overflow-y: scroll;
    margin-bottom: 30px;
    padding-bottom: 50px !important;
    height: 100%;
  }
  .modal_2 {
    .wpcf7-form {
      padding-bottom: 50px !important;
    }
    padding: 40px 30px 50px;
  }
  .for_selects {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }
  .date_block {
    .s1 {
      margin-left: 0;
    }
    margin-bottom: 20px;
  }
  .star-title {
    width: 100%;
    margin-bottom: 10px;
  }
  .star-rating-control {
    top: 0px;
    margin-left: 20px;
  }
}
