/* ===================================
   FOOTER SECTION
=================================== */

.site-footer {
  height: 529px;
}

.footer-wrapper {
  display: flex;
  height: 529px;
  border: 1px solid #333333;
}

/* Footer Left Section */
.footer-wrapper__left {
  display: flex;
  flex-grow: 1;
  flex-basis: 50%;
  justify-content: space-between;
  flex-direction: column;
  padding: 90px 0 25px 120px;
  align-items: flex-start;
}

.footer__headline {
  color: #ffffff;
  font-style: normal;
  font-size: 35px;
  font-weight: 300;
  line-height: 130%;
  border-bottom: 1px solid #ffffff;
}

.footer-copyrights {
  font-size: 12px;
  color: #9d9d9d;
}

/* Footer Social */
.footer-social__text {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.footer-social__icon {
  margin-right: 20px;
}

/* Footer Right Section */
.footer-wrapper__right {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 50%;
  justify-content: stretch;
  align-items: center;
}

.footer-nav__link {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 50%;
  width: 50%;
  border-left: 1px solid #333333;
  border-bottom: 1px solid #333333;
  transition: background-color 0.3s ease;
  
  &:hover {
    background: white;
  }
}

.footer-nav__block {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.footer-nav__arrow {
  width: 19px;
}