{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Охраняется ли музыка?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>Да. Более того, законодательство учитывает, что в создании музыки в том виде, в котором она чаще всего воспринимается публикой, на разных этапах принимают участие совершенно разные лица и охраняет интересы всех основных участников процесса создания готовой для восприятия музыки.</p>

			<p>Во-первых, охраняются интересы композиторов и авторов текста, за которыми закрепляются авторские права на созданное их творческим трудом музыкальное произведение (п. 1 ст. 1259 ГК РФ). Во-вторых, охраняются интересы музыкантов, которые  исполнители музыкальное произведение. За исполнителями закреплены смежные права на исполнение (ст. 1313 ГК РФ). В-третьих, охраняются интересы организаторов звуковой записи исполнений. За изготовителями фонограмм закреплены смежные права на записанные ими фонограммы (ст. 1322 ГК РФ).</p>
			<p><b>Статья 1257 ГК РФ (выдержка)</b> <br>
				<i>Объектами авторских прав являются произведения науки, литературы и искусства независимо от достоинств и назначения произведения, а также от способа его выражения:
					музыкальные произведения с текстом или без текста.</i></p>

			<p><b>Статья 1313 ГК РФ</b> <br>
				<i>Исполнителем (автором исполнения) признается гражданин, творческим трудом которого создано исполнение, - артист-исполнитель (актер, певец, музыкант, танцор или другое лицо, которое играет роль, читает, декламирует, поет, играет на музыкальном инструменте или иным образом участвует в исполнении произведения литературы, искусства или народного творчества, в том числе эстрадного, циркового или кукольного номера), а также режиссер-постановщик спектакля (лицо, осуществившее постановку театрального, циркового, кукольного, эстрадного или иного театрально-зрелищного представления) и дирижер.</i></p>

			<p><b>Статья 1313 ГК РФ</b> <br>
				<i>Исполнителем (автором исполнения) признается гражданин, творческим трудом которого создано исполнение, - артист-исполнитель (актер, певец, музыкант, танцор или другое лицо, которое играет роль, читает, декламирует, поет, играет на музыкальном инструменте или иным образом участвует в исполнении произведения литературы, искусства или народного творчества, в том числе эстрадного, циркового или кукольного номера), а также режиссер-постановщик спектакля (лицо, осуществившее постановку театрального, циркового, кукольного, эстрадного или иного театрально-зрелищного представления) и дирижер.</i></p>

			<p>Таким образом, с юридической точки зрения, использование музыки представляет собой одновременное использование сразу трех объектов авторских и смежных прав:<br>
				• музыкальное произведение (объект авторских прав)<br>
				• исполнение (объект смежных прав)<br>
				• фонограмма (объект смежных прав)</p>
		</div>

	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
