{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Существуют ли недостатки работы с аккредитованными организациями по коллективному управлению?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>
				Работа с аккредитованными организациями по коллективному управлению имеет ряд недостатков.
			</p>
			<p>
				Во-первых, роль аккредитованной организации после заключения договора фактически сводится к сбору вознаграждения и получению отчетов. Аккредитованные организации не оказывают услуг по подбору композиций для нужд конкретного пользователя и не учитывают особенности их коммерческой деятельности.
			</p>

			<p>
				Во-вторых, одной из неотъемлемых обязанностей пользователей по договору с аккредитованной организацией является предоставление подробных формализованных отчетов, содержащих перечень всех фактически использованных произведений, исполнений и фонограмм, а также их авторов, исполнителей и изготовителей. Эта обязанность повышает издержки пользователя, а ее неисполнение влечет договорную ответственность.
			</p>

			<p>
				<b>Пункт 3 статьи 1243 ГК РФ</b> <br>
				<i>
					Пользователи обязаны по требованию организации по управлению правами на коллективной основе представлять ей отчеты об использовании объектов авторских и смежных прав, а также иные сведения и документы, необходимые для сбора и распределения вознаграждения, перечень и сроки представления которых определяются в договоре.
				</i>
			</p>

			<p>
				В-третьих, государственная аккредитация не предоставляет полномочий по управлению право на воспроизведение музыкальных произведений, исполнений и фонограмм. Это означает, что по заключенному договору организация по коллективному управлению не принимает на себя обязанность предоставить готовые для использования экземпляры фоновой музыки, следовательно, их пользователь должен приобретать самостоятельно.
			</p>
			<p>
				В-четвертых, аккредитованные организации, как правило, не готовы согласовывать условия заключаемых договоров, в том числе в финансовой части, с пользователями в индивидуальном порядке. Аккредитованные организации работают на основе утвержденных ими форм договоров.
			</p>
		</div>

	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
