{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Допустимо ли использовать музыку свободно?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>В соответствии с п. 1 и 2 ст. 1270 ГК РФ, автору принадлежит исключительное право использовать музыкальное произведение. При этом использованием произведения считается в числе прочего: <br>
				•	воспроизведение, то есть создание экземпляров и копий произведения на материальных носителях и в электронной форме <br>
				•	распространение, то есть продажа или иное отчуждение оригинала или экземпляров произведения <br>
				•	публичное исполнение, то есть представление произведения в живом исполнении или с помощью технических средств в месте, открытом для свободного посещения, или в месте, где присутствует значительное число лиц, не принадлежащих к обычному кругу семьи</p>

			<p>На основании п. 1 и 2 ст. 1317 ГК РФ, п. 1 и 2 ст. 1324 ГК РФ аналогичные права предоставлены исполнителям и изготовителям фонограмм с тем лишь исключением, что публичное исполнение фонограммы, опубликованной в коммерческих целях, а также ее сообщение в эфир или по кабелю допускается без разрешения обладателя исключительного права на фонограмму и обладателя исключительного права на зафиксированное в этой фонограмме исполнение, но с выплатой им вознаграждения (п. 1 ст. 1326 ГК РФ). Вместе с тем выплата вознаграждения предполагает заключение соответствующего договора, в отсутствие которого использование исполнений и фонограмм считается неправомерным.</p>

			<p>Помещения ресторанов, кафе, магазинов, клубов, фитнес-центров, торговых центров и подобных объектов однозначно признаются судами местами, открытыми для свободного посещения. Не имеет значения наличие или отсутствие платы за вход, так как свободное посещение в законодательстве об авторском праве и смежных правах не приравнивается к бесплатному посещению.</p>

			<p>Таким образом, действующее российское законодательство допускает использование музыкальных произведений, исполнений и фонограмм только при условии заключения договора с правообладателем или иным уполномоченным лицом.</p>
		</div>

	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
