{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Может ли от выплат в аккредитованные организации освободить договор с компаниями, оказывающими услуги по музыкальному оформлению бизнеса?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>
				В соответствии с п. 1 ст. 1242 ГК РФ, создание организаций по коллективному управлению не препятствует осуществлению представительства обладателей авторских и смежных прав другими юридическими лицами и гражданами. Согласно п. 3 ст. 1244 ГК РФ наличие аккредитованной организации не препятствует созданию других организаций по управлению правами на коллективной основе. Таким образом, законодательство признает возможность сотрудничества пользователей музыки непосредственно с правообладателями и иными лицами и действительность лицензионных договоров на использование объектов авторских и смежных прав, заключенных не с аккредитованной организацией по коллективному управлению.
			</p>
			<p>
				Кроме того, в случае заключения лицензионного договора с правообладателем или его представителем организация по коллективному правилу не вправе собирать вознаграждение за использование объектов авторских и смежных прав, если только сам лицензионный договор между пользователем и правообладателем не наделяет организацию таким правом.
			</p>
			<p>
				<b>Пункт 2 статьи 1243 ГК РФ</b> <br>
				<i>
					Если лицензионный договор с пользователем заключает непосредственно правообладатель, организация по управлению правами на коллективной основе может собирать вознаграждение за использование объектов авторских и смежных прав только при условии, что это прямо предусмотрено указанным договором.
				</i>
			</p>

			<p>
				<b>Пункт 3 Постановления Пленума Высшего Арбитражного Суда РФ от 18.07.2014 № 51</b> <br>
				<i>
					Если при рассмотрении иска организации по управлению правами на коллективной основе в защиту прав конкретного правообладателя судом установлено, что между ответчиком и правообладателем имеется лицензионный договор о предоставлении права использования спорного результата интеллектуальной деятельности использованным ответчиком способом, то при отсутствии условия о праве на сбор вознаграждения за использование объектов авторских и смежных прав в таком договоре суд отказывает в удовлетворении иска.
				</i>
			</p>

			<p>
				Помимо того, что заключение лицензионного договора с компанией, оказывающей услуги по музыкальному оформлению бизнеса, позволяет избежать выплат в аккредитованные организации по коллективному управлению (РАО и ВОИС), этот вариант имеет и ряд иных преимуществ.
			</p>

			<p>
				Во-первых, такие компании на профессиональной основе оказывают услуги по поиску и подбору качественной фоновой музыки, соответствующей потребностям бизнеса с учетом его специфики, предпочтений клиентов и иных особенностей ведения предпринимательской деятельности.
			</p>
			<p>
				Во-вторых, работа с компаниями, оказывающими услуги по музыкальному оформлению бизнеса, менее формализована в части предоставления отчетов. Данная обязанность либо вовсе отсутствует, либо процедура формирования отчетов автоматизирована и упрощена для обеспечения пользователям максимального удобства.
			</p>
			<p>
				В-третьих, прямые договоры с правообладателями предусматривают право предоставлять лицензии не только на публичное исполнение, но и на воспроизведение экземпляров музыкальных произведений, исполнений и фонограмм. Это означает, что помимо лицензии пользователь сразу получает легальные копии фоновой музыки, которые готовы к использованию.
			</p>
			<p>
				В-четвертых, компании, оказывающие услуги по музыкальному оформлению бизнеса, более гибкие и готовы учесть пожелания клиентов на этапе согласования, заключения и исполнения договора, в том числе в части финансовых условий сотрудничества.
			</p>
		</div>
	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
