{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Какие права и обязанности связаны с интеллектуальной собственностью?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>На объекты интеллектуальной собственности признаются «интеллектуальные права», в том числе авторские права, смежные права, патентные права. Интеллектуальные права могут принадлежать:<br>
				•	автору – гражданину, чьим творческим трудом создан объект (например, писателю, композитору, исполнителю, изобретателю)<br>
				•	иным правообладателям, которыми могут являться изготовители фонограмм, организации эфирного и кабельного вещания, работодатели авторов, а также физические и юридические лица, заключившие с автором договор об отчуждении исключительного права на объект интеллектуальной собственности.</p>
			<p>Правообладателю принадлежит исключительное право – право использовать объект интеллектуальной собственности в любой форме и любыми способами, а также запрещать или разрешать использование объекта любым третьим лицам. Любым третьим лицам запрещается использование объектов интеллектуальной собственности без разрешения правообладателя.</p>

			<p><b>Пункт 1 статьи 1229 ГК РФ (выдержка)</b><br>
				<i>Гражданин или юридическое лицо, обладающие исключительным правом на результат интеллектуальной деятельности или на средство индивидуализации (правообладатель), вправе использовать такой результат или такое средство по своему усмотрению любым не противоречащим закону способом.<br>
					Правообладатель может по своему усмотрению разрешать или запрещать другим лицам использование результата интеллектуальной деятельности или средства индивидуализации. Отсутствие запрета не считается согласием (разрешением).<br>
					Другие лица не могут использовать соответствующие результат интеллектуальной деятельности или средство индивидуализации без согласия правообладателя, за исключением случаев, предусмотренных настоящим Кодексом.</i></p>
		</div>

	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
