{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Существуют ли способы использования фоновой музыки без заключения договоров с аккредитованными организациями по коллективному управлению?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>
				Да, можно назвать три альтернативных варианта правомерного использования фоновой музыки в предпринимательской деятельности, каждый из которых более подробно описан ниже:
			</p>
			<p>
				1.	Использование объектов, перешедших в общественное достояние.<br>
				2.	Сотрудничество с компаниями, оказывающими услуги по музыкальному оформлению бизнеса.<br>
				3.	Использование объектов, распространяемых правообладателями на условиях открытой лицензии.
			</p>
		</div>
	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
