{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Как правомерно использовать интеллектуальную собственность?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>Допустимость использования объекта интеллектуальной собственности, по общему правилу, обусловлена заключением в письменной форме лицензионного договора с правообладателем. Кроме того, может быть заключен договор с лицом, которого правообладатель уполномочил предоставлять сублицензии третьим лицам.</p>

			<p><b>Пункт 1 статьи 1235 ГК РФ</b><br>
				<i>По лицензионному договору одна сторона – обладатель исключительного права на результат интеллектуальной деятельности или на средство индивидуализации (лицензиар) предоставляет или обязуется предоставить другой стороне (лицензиату) право использования такого результата или такого средства в предусмотренных договором пределах.</i></p>
			<p><i>Лицензиат может использовать результат интеллектуальной деятельности или средство индивидуализации только в пределах тех прав и теми способами, которые предусмотрены лицензионным договором. Право использования результата интеллектуальной деятельности или средства индивидуализации, прямо не указанное в лицензионном договоре, не считается предоставленным лицензиату.</i></p>

			<p><b>Пункт 1 статьи 1238 ГК РФ</b><br>
				<i>При письменном согласии лицензиара лицензиат может по договору предоставить право использования результата интеллектуальной деятельности или средства индивидуализации другому лицу (сублицензионный договор).</i></p>

			<p>В некоторых случаях использование интеллектуальной собственности допускается без разрешения правообладателя, но с выплатой ему вознаграждения.</p>
			<p>Кроме того, законодательство предусматривает случаи свободного использования, когда результат интеллектуальной деятельности может использоваться без разрешения его правообладателя и без выплаты ему вознаграждения (п. 5 ст. 1229 ГК РФ). Однако случаи свободного использования являются исключительными и практически не касаются способов  использования, сопряженных с осуществлением предпринимательской деятельности. К примерам допустимого свободного использования относятся цитаты в научных, полемических, критических, информационных, учебных целях произведений в объеме, оправданном целью цитирования (подп. 1 п. 1 ст. 1274 ГК РФ), публичное исполнение музыкальных произведений во время официальных или религиозных церемоний (ст. 1277 ГК РФ).</p>
			<p>Таким образом, использование интеллектуальной собственности считается правомерным в следующих случаях:
				•	заключен лицензионный договор непосредственно с правообладателем;<br>
				•	заключен лицензионный договор с представителем правообладателя или лицом, уполномоченным правообладателем на основании лицензионного договора;<br>
				•	закон допускает использование объекта без разрешения правообладателя, но с выплатой ему вознаграждения при условии, что в установленном порядке заключен договор на выплату вознаграждения;<br>
				•	свободное использование разрешено законом. </p>
		</div>

	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
