{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Что означают аббревиатуры РАО и ВОИС?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>
				РАО расшифровывается как «Российское Авторское Общество». ВОИС в контексте коллективного управления означает «Всероссийская организация интеллектуальной собственности». РАО и ВОИС являются организациями по коллективному управлению авторскими и смежными правами.
			</p>
			<p>
				Особенность названных организаций состоит в том, что они имеют государственную аккредитацию: РАО – в части управления авторскими правами на музыкальные произведения путем публичного исполнения, сообщения в эфир и по кабелю, ВОИС – в части  управления смежными правами на исполнения и фонограммы путем публичного исполнения, сообщения в эфир и по кабелю. Государственная аккредитация не обязательна для управления авторскими и смежными правами, но позволяет распоряжаться исключительным правом даже тех авторов, исполнителей и изготовителей фонограмм, которые не заключали с организацией договор о передаче полномочий по управлению в отношении своих результатов интеллектуальной деятельности.
			</p>

			<p>
				Кроме того, аккредитованные организации по коллективному управлению вправе предъявлять иски о нарушении авторских и смежных прав от имени правообладателей, причем без обязательного согласования с ними. РАО и ВОИС активно используют это полномочие, что актуализирует риски привлечения к ответственности за публичное исполнение фоновой музыки без заключения договора.
			</p>

			<p>
				<b>Пункт 3 статьи 1244 ГК РФ (выдержка)</b> <br>
				<i>
					Наличие аккредитованной организации не препятствует созданию других организаций по управлению правами на коллективной основе, в том числе в сферах коллективного управления, указанных в пункте 1 настоящей статьи.
				</i>
			</p>

			<p>
				<b>Пункт 5 статьи 1242 ГК РФ</b> <br>
				<i>
					Организации по управлению правами на коллективной основе вправе от имени правообладателей или от своего имени предъявлять требования в суде, а также совершать иные юридические действия, необходимые для защиты прав, переданных им в управление на коллективной основе.
				</i>
			</p>

			<p>
				<i>
					Аккредитованная организация (статья 1244) также вправе от имени неопределенного круга правообладателей предъявлять требования в суде, необходимые для защиты прав, управление которыми осуществляет такая организация.
				</i>
			</p>

		</div>
	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
