{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Имеют ли юридическую силу открытые и «свободные» лицензии?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>
				В последние годы широкое распространение получили «свободные» лицензии, разрешающие пользователям использовать объекты интеллектуальной собственности без подписания лицензионного договора и, как правило, без выплаты вознаграждения правообладателю. Одним из примеров таких лицензий являются лицензии, разработанные организацией <a href="https://creativecommons.org">Creative Commons</a>
			</p>
			<p>
				Современное российское законодательство признает юридическую силу открытых лицензий, условия которых доступны неопределенному кругу лиц и размещены таким образом, чтобы лицензиат ознакомился с ними перед началом использования соответствующего произведения.
			</p>

			<p>
				<b>Пункт 1 статьи 1268.1 ГК РФ</b> <br>
				<i>
					Лицензионный договор, по которому автором или иным правообладателем (лицензиаром) предоставляется лицензиату простая (неисключительная) лицензия на использование произведения науки, литературы или искусства, может быть заключен в упрощенном порядке (открытая лицензия).
				</i>
			</p>

			<p>
				<i>Открытая лицензия является договором присоединения. Все ее условия должны быть доступны неопределенному кругу лиц и размещены таким образом, чтобы лицензиат ознакомился с ними перед началом использования соответствующего произведения. В открытой лицензии может содержаться указание на действия, совершение которых будет считаться акцептом ее условий (статья 438). В этом случае письменная форма договора считается соблюденной.</i>
			</p>

			<p>
				Вместе с тем следует помнить о следующих особенностях открытых лицензий: <br>
				•	открытая лицензия не обязательно содержит разрешение на публичное исполнение музыкальных произведений, исполнений и фонограмм, поэтому перед использование музыки, распространяемой под открытой лицензией, внимательно ознакомьтесь с ее содержанием <br>
				•	открытая лицензия может быть возмездной (п. 3 ст. 1286.1 ГК РФ) <br>
				•	действительность открытой лицензии зависит от наличия у лица, опубликовавшего ее, правомочий по распоряжению исключительным правом на музыкальное произведение, исполнение и фонограмму. Если полномочия у лица отсутствовали, то использование музыки является неправомерным.
			</p>

			<p>
				Кроме того, существует особенность доказательственного характера. Как правило, информация об открытой лицензии размещаются в сети Интернет и может быть изменена или удалена в любой момент по усмотрению разместившего ее лица. При этом в случае возникновения судебного спора именно на пользователе как ответчике лежит бремя доказывания того, что авторские и смежные права были соблюдены. Как следствие, на пользователей ложатся правовые риски удаления или изменения информации о свободной лицензии.
			</p>

			<p>
				<b>Пункт 14 Постановления Пленума Верховного Суда РФ от 19.06.2006 № 15 "О вопросах, возникших у судов при рассмотрении гражданских дел, связанных с применением законодательства об авторском праве и смежных правах" (выдержка)</b> <br>
				<i>
					При разрешении вопроса о том, какой стороне надлежит доказывать обстоятельства, имеющие значение для дела о защите авторского права или смежных прав, суду необходимо учитывать, что ответчик обязан доказать выполнение им требований указанного Закона при использовании произведений и (или) объектов смежных прав. В противном случае физическое или юридическое лицо признается нарушителем авторского права и (или) смежных прав, и для него наступает гражданско-правовая ответственность в соответствии с законодательством Российской Федерации.
				</i>
			</p>

			<p>
				Таким образом, несмотря на признание юридической силы за открытыми лицензиями, их применение на практике полностью не исключает юридические риски нарушения авторских и смежных прав на музыкальные произведения, исполнения и фонограммы.
			</p>

		</div>
	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
