{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Каковы негативные последствия бездоговорного использования фоновой музыки?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>Российское законодательство предусматривает административную, уголовную и гражданско-правовую ответственность за незаконное использование объектов авторских и смежных прав. Несмотря на то, что за незаконное использование фоновой музыки уголовная ответственность фактически не применяется, имущественные санкции, предусмотренные Кодексом об административных правонарушениях (далее – КоАП) и Гражданским кодексом РФ, достаточно существенны.</p>

			<p>В соответствии со ст. 1301 ГК РФ, в случаях нарушения исключительного права на произведение правообладатель наряду с использованием других применимых способов защиты и мер ответственности требовать от нарушителя выплаты компенсации в размере от 10 000 рублей до 5 000 000 рублей, определяемом по усмотрению суда исходя из характера нарушения. Аналогичная ответственность установлена ст. 1311 ГК РФ за нарушение исключительного права на исполнения и фонограммы.</p>

			<p><b>Статья 1301 ГК РФ</b><br>
				<i>В случаях нарушения исключительного права на произведение автор или иной правообладатель наряду с использованием других применимых способов защиты и мер ответственности, установленных настоящим Кодексом (статьи 1250, 1252 и 1253), вправе в соответствии с пунктом 3 статьи 1252 настоящего Кодекса требовать по своему выбору от нарушителя вместо возмещения убытков выплаты компенсации:</i></p>

			<p><i>1) в размере от десяти тысяч рублей до пяти миллионов рублей, определяемом по усмотрению суда исходя из характера нарушения;<br>
				2) в двукратном размере стоимости контрафактных экземпляров произведения;<br>
				3) в двукратном размере стоимости права использования произведения, определяемой исходя из цены, которая при сравнимых обстоятельствах обычно взимается за правомерное использование произведения тем способом, который использовал нарушитель.</i></p>

			<p><b>Статья 1311 ГК РФ</b><br>
				<i>В случаях нарушения исключительного права на объект смежных прав обладатель исключительного права наряду с использованием других применимых способов защиты и мер ответственности, установленных настоящим Кодексом (статьи 1250, 1252 и 1253), вправе в соответствии с пунктом 3 статьи 1252 настоящего Кодекса требовать по своему выбору от нарушителя вместо возмещения убытков выплаты компенсации:</i></p>

			<p><i>1) в размере от десяти тысяч рублей до пяти миллионов рублей, определяемом по усмотрению суда исходя из характера нарушения;<br>
				2) в двукратном размере стоимости контрафактных экземпляров фонограммы;<br>
				3) в двукратном размере стоимости права использования объекта смежных прав, определяемой исходя из цены, которая при сравнимых обстоятельствах обычно взимается за правомерное использование такого объекта тем способом, который использовал нарушитель.</i></p>

			<p>Законодатель предоставляет судам значительную свободу усмотрения в вопросе определения размера компенсации. В большинстве дел о нарушении авторских и смежных прав при публичном исполнении фоновой музыки в текущей судебной практике компенсация взыскивается в пределах от 10 000 руб. до 30 000 руб. за нарушение. Однако важная особенность состоит в том, что согласно п. 3 ст. 1252 ГК РФ компенсация взыскивается за каждый неправомерно использованный объект и каждый случай нарушения. Что это означает на практике?</p>

			<p>Предположим, что в помещении кафе за один час было исполнено 10 композиций, транслировавшихся в этом время по радио. С юридической точки зрения, это означает, что было использовано 10 объектов авторских прав – музыкальных произведений, 10 объектов смежных прав – исполнений и 10 объектов смежных прав – фонограмм, что в сумме составляет 30 объектов. Таким образом, даже в случае присуждения компенсации в минимальном размере общая сумма ответственности составит 300 000 руб. (30 x 10 000). Если суд с учетом конкретных обстоятельств дела посчитает обоснованной компенсацию в размере 20 000 руб. за нарушение, то общая сумма ответственности в приведенном примере возрастет до 600 000 руб.</p>

			<p><b>Статья 1252 ГК РФ (выдержка)</b><br>
				<i>Если одним действием нарушены права на несколько результатов интеллектуальной деятельности или средств индивидуализации, размер компенсации определяется судом за каждый неправомерно используемый результат интеллектуальной деятельности или средство индивидуализации.
					Постановление Суда по интеллектуальным правам от 9 ноября 2016 г. по делу N А40-151984/2015
					Судебная коллегия учитывает, что по результатам рассмотрения дела судом апелляционной инстанции признана соразмерной компенсация в размере 10 000 рублей за одно нарушение, однако неправильно определено количество нарушений, допущенных Обществом при исполнении 9 фонограмм: в данном случае 9 нарушений исключительных прав исполнителей и 9 нарушений исключительных прав изготовителей фонограмм.
					Таким образом, с Общества в пользу ВОИС подлежит взысканию компенсация за нарушение исключительных смежных прав, в защиту которых заявлен настоящий иск, в размере 180 000 рублей.</i></p>

			<p>Согласно ч. 1 ст. 7.12 КоАП нарушение авторских и смежных прав в целях извлечения дохода влечет наложение административного штрафа:</p>

			<p>•	на граждан – в размере от 1 500 руб. до 2 000 руб.<br>
				•	на должностных лиц - от 10 000 руб. до 20 000 руб.<br>
				•	на юридических лиц - от 30 000 руб. до 40 000 руб.</p>

			<p>К административной ответственности одновременно может привлекаться как юридическое лицо, так и его руководитель как должностное лицо. Кроме того, привлечение к административной ответственности не исключает возможность правообладателя предъявить гражданский иск о взыскании компенсации. Причем последний вариант широко распространен на практике, поскольку при наличии постановления о привлечении к административной ответственности правообладателю значительно проще добиться положительного решения по исковому заявлению.</p>
		</div>

	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
