{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Какие объекты считаются перешедшими в общественное достояние?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>
				Срок действия авторских и смежных прав ограничен. После прекращения действия исключительного права музыкальные произведения, исполнения и фонограммы переходят в общественное достояние и могут свободно использоваться любыми лицами без чьего-либо согласия и без выплаты вознаграждения. На текущий момент российское  законодательство устанавливает следующие сроки действия исключительного права: <br>
				•	на музыкальное произведение – весь период жизни автора и 70 лет после его смерти (ст. 1281 ГК РФ) <br>
				•	на исполнение – весь период жизни исполнителя, но не менее 50 лет после года создания исполнения (ст. 1318 ГК РФ) <br>
				•	на фонограмму – 50 лет после года записи, либо 50 лет после года обнародования, если обнародование произошло в пределах 50 лет с момента записи (ст. 1327 ГК РФ)
			</p>
			<p>
				Для решения этой проблемы могут создаваться организации по коллективному управлению. Такие организации выступают в роли посредников, собирая вознаграждение с пользователей в целях перечисления авторам, исполнителям и изготовителям фонограмм после вычета причитающихся им сумм.
			</p>

			<p>
				<b>Пункты 1, 2 статьи 1282 ГК РФ</b> <br>
				<i>
					1. После прекращения действия исключительного права произведение науки, литературы или искусства, как обнародованное, так и необнародованное, переходит в общественное достояние. <br>
					2. Произведение, перешедшее в общественное достояние, может свободно использоваться любым лицом без чьего-либо согласия или разрешения и без выплаты авторского вознаграждения. При этом охраняются авторство, имя автора и неприкосновенность произведения.
				</i>
			</p>

			<p>
				Важно отметить, что сроки действия исключительного права исчисляются отдельно в отношении каждого из объектов. Например, публичное исполнение музыки Вивальди обезопасит от претензий со стороны РАО, однако не исключает претензий со стороны ВОИС, если не истек срок действия исключительного права на фонограмму с записью исполнения. Эта особенность затрудняет создание фонового оформления бизнеса только лишь с использованием перешедших в общественное достояние объектов.
			</p>
		</div>
	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
