{% extends "layout/default.html" %}
{% set title = "Ответы - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../css/app.css?cb=1575997197320">{% endblock %}

{% block navbar %}{% include "partials/second_navbar.html" %}{% endblock %}

{% block up %}{% endblock %}

{% block content %}
<div class="section text__content" id="up">
	<div class="container_center">
		<div class="answer__title">
			<h1 class="sectionTitle">
				Что такое коллективное управление авторскими и смежными правами?
			</h1>
		</div>

		<div class="helpList__answer answer__text">
			<p>
				Как говорилось выше, для правомерного использования музыкальных произведений, исполнений и фонограмм требуется заключение договоров с их авторами, исполнителями и изготовителями. На практике это может затруднительно как для пользователей, так и для правообладателей.
			</p>
			<p>
				Для решения этой проблемы могут создаваться организации по коллективному управлению. Такие организации выступают в роли посредников, собирая вознаграждение с пользователей в целях перечисления авторам, исполнителям и изготовителям фонограмм после вычета причитающихся им сумм.
			</p>

			<p>
				<b>Статья 1242 ГК РФ (выдержка)</b> <br>
				<i>
					Авторы, исполнители, изготовители фонограмм и иные обладатели авторских и смежных прав в случаях, когда осуществление их прав в индивидуальном порядке затруднено или когда настоящим Кодексом допускается использование объектов авторских и смежных прав без согласия обладателей соответствующих прав, но с выплатой им вознаграждения, могут создавать основанные на членстве некоммерческие организации, на которые в соответствии с полномочиями, предоставленными им правообладателями, возлагается управление соответствующими правами на коллективной основе (организации по управлению правами на коллективной основе).
				</i>
			</p>
		</div>

	</div>
</div>

{% include "partials/answer_up.html" %}
{% endblock %}

{% block footer_nav %}{% include "partials/second_footer.html" %}{% endblock %}

{% block js %}<script src="../js/app.js?cb=1575997197320"></script>{% endblock %}
