<div class="sendContainer">
    <div class="sendContainer__title">
        <div class="title_anim-1">
            Отправляем...
        </div>
        <div class="title_anim-2">
            Отправлено
        </div>
    </div>
    <div id="bm" class="sendContainer__img">
        <div style="margin:0 auto; width: 300px;" id="SentSuccess"></div>
        <div style="margin:0 auto; width: 300px;" id="SentSuccess2"></div>
    </div>
    <div class="sendContainer__title">Запрос на восстановление пароля отправлен</div>
    <div class="sendContainer__text">Пароль придет на Ваш E-mail в течение нескольких минут.</div>
</div>
