<footer class="footer wow fadeInUp">
    <div class="footer__top">
        <div class="container_center">
            <div class="footer__logo">
                <img src="../img/logo_ear.png" srcset="../img/logo_ear@2x.png 2x, ../img/logo_ear@3x.png 3x" alt="mb" />
            </div>
            <div class="footer__nav">
                <ul class="">
                    <li><a href="../features.html">Возможности</a></li>
                    <li><a href="../price.html">Цены</a></li>
                    <li><a href="../help.html">Помощь</a></li>
                    <li><a href="../copyright.html">Правообладателям</a></li>
                    <li><a href="../contact.html">Контакты</a></li>
                </ul>
            </div>
            <div class="contact__icon footer__contacts">
                <a rel="nofollow" href="https://t.me/mb" target="_blank"><i class="mdi mdi-telegram"></i></a>
                <a rel="nofollow" href="https://wa.me/121212121212" target="_blank"><i class="mdi mdi-whatsapp"></i></a>
                <a rel="nofollow" href="https://instagram.com/mb.ru" target="_blank"><i class="mdi mdi-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="footer__down">
        <div class="container_center">
            <div class="footer__copy">
                © 2019 mb
            </div>
            <div class="contact__icon footer__contacts block">
                <a rel="nofollow" href="https://t.me/mb" target="_blank"><i class="mdi mdi-telegram"></i></a>
                <a rel="nofollow" href="https://wa.me/121212121212" target="_blank"><i class="mdi mdi-whatsapp"></i></a>
                <a rel="nofollow" href="https://instagram.com/mb.ru" target="_blank"><i class="mdi mdi-instagram"></i></a>
            </div>
            <div class="footer__rules">
                <div class="footer__rulesitem"><a href="#">Правила сервиса |</a></div>
                <div class="footer__rulesitem"><a href="#"> Политика конфиденциальности</a></div>
            </div>
            <div class="footer__rules block">
                <div class="footer__rulesitem"><a href="#">Правила сервиса.</a></div><br>
                <div class="footer__rulesitem"><a href="#"> Политика конфиденциальности</a>.</div>
            </div>
        </div>
    </div>
</footer>
