{% extends "layout/default.html" %}
{% set title = "Возможности - мб - сервис доставки лицензионной музыки и инструментарий для аудиомаркетинга" %}

{% block content %}

			
<div class="section BlogText__content" id="up">
    <div class="container_center anim_cont">
        <a href="blog.html" class="BlogText__arrow wow fadeInUp"><i class="mdi mdi-trending-neutral"></i> Назад</a>

        <div class="BlogText__img wow fadeInUp" data-parallax="scroll" data-image-src="img/blog/BlogText__img.png"></div>

        <div class="answer__title wow fadeInUp">
            <div class="sectionTitle">
                8 любопытных примеров воздействия музыки на сознание покупателя.
            </div>
        </div>
    </div>

    <hr>

    <div class="container_center">

        <div class="helpList__answer answer__text wow fadeInUp">
            <p class="">Анализ некоторых работ западных маркетологов – в частности, Nicolas Guéguen, Céline Jacob, Marcel Lourel и Hélène Le Guellec, – позволил выбрать восемь любопытных примеров воздействия музыки на сознание покупателя и подготовили наглядные и содержательные комментарии на этот счёт. </p>
            <p class="">•   Если в винном бутике играет французская музыка, посетители склонны покупать французские вина. Стоит заменить классический шансон тирольскими напевами, и клиент выберет немецкий товар. При этом данные соцопросов показывают, что посетители магазина искренне считают, что покупают товар исключительно по собственной воле, и отказываются признать тот факт, что стали жертвой грамотного аудиомаркетинга! Вы можете использовать это удивительное свойство музыки, чтобы рекламировать продукцию определённого бренда или избавиться от партии залежавшегося товара.</p>
            <p class="">•   Спокойная музыка – например, лаунж – «замедляет» клиента, однако он готов купить больше. Такой эффект наблюдается не только в супермаркетах: например, в ресторане, где играет мягкая фоновая музыка, посетители долго читают меню и задают множество вопросов официантам, однако сумма среднего чего увеличивается на 20-30%. Дело, опять-таки, в настроении: расслабляясь, человек теряет ощущение времени и начинает получать удовольствие от того, что с ним происходит </p>
            <p class="">•   В магазинах элитных товаров – например, сыров и дорогого вина, – классическая музыка увеличивает продажи, в то время как ротация популярных хитов приводит к оттоку клиентов. Объяснение этого феномена кроется в грамотной работе с целевой аудиторией. Кто покупает дорогое вино? Совершенно верно, граждане в возрасте от 30 до 60, чей доход стабильно высок. Обеспеченные люди всячески себя «окультуривают»: смотрят умные фильмы, читают правильные книги, слушают классическую музыку. В их понимании песни, которые крутят на радио, – это музыка для масс, музыка для нищих, музыка для тех, кто живёт одним днём и ничего из себя не представляет. Как вы думаете, захотят ли они делать покупки в магазине, где играет такая музыка? </p>
            <p class="">•   Рестораны, которые в качестве звукового сопровождения используют классическую музыку (пусть даже в современной обработке!), получают большую прибыль, чем заведения общественного питания, где фоновая музыка не используется вообще или играет попса. Классическая музыка стимулирует мозговую деятельность, помогает сосредоточиться и, тем не менее, абсолютно не раздражает. Гость ресторана в спокойной обстановке изучает меню, наслаждается каждым кусочком основного блюда, заказывает десерт, напоследок покупает чашку кофе и оставляет официанту щедрые чаевые, чувствуя себя счастливым, мудрым и абсолютно уверенным в себе. Включите популярную музыку, и эффект будет диаметрально противоположным: человек начнёт чувствовать себя не в своей тарелке, заспешит, покинет заведение в смешанных чувствах и, оказавшись дома, наверняка напишет плохой отзыв в Интернете. Только потому, что ему не понравилась музыка! Представляете, какая это сила.</p>
            <p class="">•   Если в супермаркете играет танцевальная музыка, покупатели передвигаются по магазину быстрее; при этом количество покупок не уменьшается. В данном случае музыкальное сопровождение заставляет на подсознательном уровне вспомнить, что жизнь современного человека проходит в бешеном ритме. Кроме того, танцевальная музыка поднимает настроение и даёт прилив энергии. Результат – человек сосредоточен на листе покупок, читает указатели, быстро находит то, что нужно, расплачивается и едет домой</p>
            <p class="">•   Когда покупатель слышит классическую музыку, он думает, что в магазине продают только дорогие товары. Об этом следует помнить предпринимателям, которые продают товары различных ценовых категорий под одной крышей. Если вашим потенциальным клиентом может быть и топменеджер международной компании, и рядовой инженер, вам стоит поискать компромисс и выбрать музыку, ориентируясь на различные типы клиентов. Оптимальным вариантом будет разделить магазин на несколько секций с автономным музыкальным сопровождением.</p>
            <p class="">•   Владельцы телефонных компаний отмечают, что клиент дольше остаётся на линии, если, ожидая ответ оператора, слушает приятную музыку. Данный маркетинговый инструмент пригодится менеджерам call-центров и компаний, которые осуществляют дистанционную техническую поддержку. Прежде чем выбрать фоновую музыку для режима ожидания, вы должны грамотно составить портрет потенциального клиента и разобраться в его музыкальных предпочтениях.</p>
            <p class="">•   Когда человек слушает любимую музыку, ему кажется, что время идёт быстрее. Поэтому уже сегодня аудиомаркетинг внедряют не только в магазинах и ресторанах, но и в банках, туристических агентствах, частных поликлиниках и других учреждениях, где бывают очереди. Здесь, опять-таки, важно определить целевую аудиторию или, по крайней мере, выбирать нейтральную музыку. </p>
            <p class="">Как видите, аудиомаркетинг позволит вам управлять подсознанием человека, увеличить прибыль и повысить привлекательность компании в глазах потенциального клиента. Не бойтесь использовать нестандартные маркетинговые инструменты, и результат вас приятно удивит!</p>   
        </div>   
    </div>
    <div class="BlogText__btn wow fadeInUp">
        <div class="btn btn__transpsrent share">
            <span>Поделиться</span>
            <div class="container">
                <a href="#"><i class="mdi mdi-facebook"></i></a>
                <a href="#"> <i class="mdi mdi-twitter"></i></a>
                <a href="#"> <i class="mdi mdi-instagram"></i></a>
                <a href="#"><i class="mdi mdi-vk"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="music wow fadeInUp">
    <div class="container_center">
        Музыка. <span>Бизнес.</span> Облако.
    </div>
</div>

			{% endblock %}

			{% block footer %}
			<script>
				$(document)['ready'](function () {
					var animation = LoadAnim('SentSuccess', 'json/license.json', 1);
					animation.play();
				});
			</script>
			{% endblock %}